* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Muller'; 
    src: url(/static/fonts/ofont.ru_Muller.ttf); 
}

.main {
    font-family: 'Muller';
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: ghostwhite;
    font-size: 18px;
}

.a4 {
    display: flex;
    height: 85rem;
    width: 50rem;
    height: 70.8rem;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
}

.block {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 14rem;
    height: 13rem;
    background-color: black;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 3rem;
    /*border-bottom: 1px dashed #ffff;*/
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='1' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='1' fill='none' stroke='white' stroke-width='4' stroke-dasharray='6%2c14' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e"); */
}

.hr{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='1' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='1' fill='none' stroke='white' stroke-width='4' stroke-dasharray='6%2c14' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 100%;
    height: 0.1rem;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.name{
    padding-top: 0.5rem;
    height: 1rem;
}

.cost{
    font-size: 100px;
}