<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/second_temp.css')}}">
    </head>
    <body>
        <div class="main">
            {% for page in range(0, page_count) %}
            <div class="a4">
                {% for item in range(0, 15) %}
                <div class="block">
                    <div class="header"><p>Загнуть :)</p></div>
                    <div class="hr"></div>
                    <div class="footer">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>